<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
新闻{{id}}
<br/>
<table>
    {% for item in newslist %}
    <tr>
        <td>
            {{item.name}}
        </td>
        <td>
            {{item.sex}}
        </td>
        <td>
            {{item.regdate}}
        </td>
        <td>
            {{item.money}}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>