<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<table>
    {% for item in list %}
    <tr>
        <td>
            <a href="{{item.URL}}">{{item.Title}}</a>
        </td>
        <td>
            {{item.AddDate}}
        </td>
        <td>
            {%if item.Hot %} 热门 {% else %} 冷门 {% endif %}

        </td>
        <td>
            {{item.Key}}
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
{% include IncludePage %}
</body>
</html>