<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="我的关键词" />

    <%= System.Web.Optimization.Scripts.Render("~/Bundle/Site.js") %>
    <%= System.Web.Optimization.Styles.Render("~/Bundle/Site.css") %>
<link href="<%= ViewData["TemplatePath"].ToString()%>css/index.css" rel="stylesheet"
type="text/css" />
<link href="<%= ViewData["TemplatePath"].ToString()%>css/style.css?id=123.321" rel="stylesheet"
type="text/css" />
<link href="<%= ViewData["TemplatePath"].ToString()%>css/st1yle.css" rel="stylesheet"
type="text/css" />